header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

.containerBrand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.containerItemList ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35vw;
    text-align: center;
}

.containerCart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}